.rodape {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-tags-title-button-footer);

}

.rodape__link {
    background: var(--color-gradiente-secundario);
    font-family: var(--fonte-principal);
    border-radius: 28px;
    font-weight: 700;
    padding: 1em 1.5em;
    text-align: center;
    margin: 1em;
}

.rodape__link:hover {
    background: var(--color-hover-button-footer);
}

.rodape__titulo {
    color: var(--color-barnco);
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 28px;
}

.rodape__titulo,
.rodape__link {
    margin: 1.5em 1em;
}

@media screen and (min-width: 1440px) {
    .rodape {
        padding: 0 6.5em;
    }
}