@import url(header.css);
@import url(estatisticas-curso.css);
@import url(cursos.css);
@import url(rodape.css);

:root {
    --color-hover-button-header: #666CA3;
    --color-tags-title-button-footer: #13183F;
    --color-p: #83869A;
    --color-link-card: #F74780;
    --color-hover-link-card: #FFA7C3;
    --color-barnco: #FFFFFF;

    --color-gradiente-principal: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    --color-gradiente-secundario: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
    --color-hover-button-footer: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    --color-gradiente-do-cards: linear-gradient(180deg, #FFF 0%, #F0F1FF 100%);
    --color-hover-botoao-hero: linear-gradient(0deg, rgba(255, 255, 255, 0.50) 0%, rgba(255, 255, 255, 0.50) 100%), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);

    --fonte-principal: 'Plus Jakarta Sans', sem serifa;
}

body {
    background: var(--color-barnco);
    background: var(--color-gradiente-do-cards);
}

.links__button,
.links__card {
    color: var(--color-barnco);
    text-decoration: none;
}